.hero-section {
    background-color: #E8F0E3;

    .container {
        display: flex;

        .content-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .content {
                width: 365px;

                h1 {
                    font-size: 64px;
                    line-height: 68px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
            }
        }

        .image-container {
            flex: 1;
        }
    }
}

.products-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    article {
        .image-container {
            width: 100%;
            aspect-ratio: 1/1;
        }

        .content {
            flex: 1;
            padding: 30px 40px 20px;

            h3 {
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
            }

            .short-desc {
                color: rgba(black, 0.7);
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-top: 10px;
            }

            .price {
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: center;
                margin-top: 20px;
            }

            .see-more {
                display: block;
                width: 100%;
                color: black;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                margin-top: 10px;
                padding: 20px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}


.values-section,
.beliefs-section {
    .container {
        display: flex;

        .content-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 30px;

            .content {
                width: 365px;

                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }

        .image-container {
            width: 487px;
            height: 646px;
            flex-shrink: 0;
        }
    }
}

.beliefs-section {
    background-color: #EBE3D3;

    .content-container {
        align-items: flex-start;
    }
}

.values-section {
    background-color: #E8F0E3;

    .content-container {
        align-items: flex-end;
    }
}